:root {
    --main-font: 'Montserrat', sans-serif;
    --main-gradient: -webkit-linear-gradient(#f34949, #ff8100);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    width: 100vw;
    background-image: url("./icon.png");
    font-family: var(--main-font);
}

/* title-ok */
.title h1 {
    padding: 40px 0;
    text-align: center;
    font-size: 80px;
    background: var(--main-gradient);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #D48D36;
}

/* planets */

.content {
    display: flex;
    justify-content: space-evenly;
}

.planet {
    min-height: 120px;
    width: 300px;
    margin: 0 40px 40px 0;
    border-radius: 25px;
    background-color: rgba(200,200,200,.9);
}

.planet h3 {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

.planet-container {
    padding-bottom: 20px;
    margin: 20px 40px;

}
/* jedis */

.chosen {
    width: 400px;
    background-color: rgba(200,200,200,.9);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.jedi {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

.jedi p {
    padding-right: 20px;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 2px;
}

.chosen button {
    padding: 10px 40px;
    margin-bottom: 10px;
    position: relative;
    font-size: 25px;
    font-weight: 700;
    border: transparent;
    border-radius: 25px;
    background-color: #ff8100;
    cursor: pointer;
}

.chosen button:hover {
    background-color: #f7ac6b;
}

/* choosing planets */

.jedis .choose-planet {
    flex-basis: 50%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.choose-planet .add-planet {
    flex-basis: 30%;
    background-color: rgba(200,200,200,.9);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-planet .picked {
    font-size: 40px;
    padding-left: 20px;
}


.displayChooseJedi {
    visibility: hidden;
}

/* plus button  */

.plus {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .3);
    cursor: pointer;
}

.plus:hover {
    background-color: rgba(255, 255, 255, .6);
} 

.plus i {
    font-size: 25px;
    font-weight: 700;
}


